<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    
    <th:block layout:fragment="head">
    	<title>noticeLists</title>
		
        <!--/* css */-->
        <link th:href="@{/css/common.css}" rel="stylesheet" />
    </th:block>
    <body>
		<div class="noticeListContainer">
			<h2>게시글 리스트</h2>
            <div class="noticeListBox">
                <div class="noticeListSearchBox">
                    <input type="text">
                    <button>검색</button>
                    <div class="noticeListWrite">
                        <button onclick="noticeWrite()">글 쓰기</button>
                    </div>
                </div>
                <div>
                    <div class="noticeListHeader">
                        <p class="noticeListNumber">번호</p>
                        <p class="noticeListTitle">공지사항</p>
                        <p class="noticeListUser">작성자</p>
                        <p class="noticeListDate">작성일</p>
                        <p class="noticeListViews">조회수</p>
                    </div>
                    <!-- 글 반복문 -->
                    <div th:each="notice : ${noticeLists}" class="noticeListBody">
                        <p th:text="${ notice.noticeNumber }" class="noticeListNumber"></p>
                        <a th:href="@{/notice/{noticeNumber}(noticeNumber=${notice.noticeNumber})}" class="noticeListTitle">
							<p th:text="${notice.noticeTitle}"></p>
						</a>
                        <p th:text="${ notice.memberId }" class="noticeListUser"></p>
                        <p th:text="${ notice.noticeWriteTime.substring(0, 10) }" class="noticeListDate"></p>
                        <p th:text="${ notice.noticeView }" class="noticeListViews"></p>
                    </div>
                    
                    <div class="noticeListFoot">
						<!-- 이전버튼 -->
						<div th:if="${pagingModel.startBlock > pagingModel.pagePerBlock}" class="noticeListFootButton">
						    <a th:href="@{/noticeLists/{pageNumber}(pageNumber=${pagingModel.startBlock - pagingModel.pagePerBlock})}">이전</a>
						</div>
						<div th:unless="${pagingModel.startBlock > pagingModel.pagePerBlock}" class="noticeListFootButton">
						    <span>이전</span>
						</div>
						
						<!-- 페이지 수 반복문 -->
						<div th:each="pageNumber : ${#numbers.sequence(pagingModel.startBlock, pagingModel.endBlock)}" class="noticeListFootNumber">
						    <!-- 현재 페이지는 링크 X, 나머지는 해당 페이지로 링크 O -->
						    <span th:if="${pageNumber} == ${pagingModel.nowPage}" th:text="${pageNumber}"></span>
						    <a th:if="${pageNumber} != ${pagingModel.nowPage}" th:href="@{/noticeLists/{pageNumber}(pageNumber=${pageNumber})}" th:text="${pageNumber}"></a>
						</div>
						
						<!-- 다음버튼 -->
						<div th:if="${pagingModel.endBlock < pagingModel.totalPage}" class="noticeListFootButton">
						    <a th:href="@{/noticeLists/{pageNumber}(pageNumber=${pagingModel.startBlock + pagingModel.pagePerBlock})}">다음</a>
						</div>
						<div th:unless="${pagingModel.endBlock < pagingModel.totalPage}" class="noticeListFootButton">
						    <span>다음</span>
						</div>
					</div>
                </div>
            </div>
        </div>
				   	
	   	<script>
			function mainHome(){
				window.location.href = '/home';
			};
			
			function noticeWrite(){
				window.location.href = '/notice/write';
			};
		</script>
    </body>
</html>